<h1 class="text-uppercase text-center">Store manager</h1>

<h2><span class="glyphicon glyphicon-phone"> Product List</h2>
  <ul>
    <% @products.each do |product| %>
    <li><a href="/product/show/<%= product.id %>"><%= product.name %> costs you <%= product.price %>€</a>
    <% if product.brand %>
      <%= "made by #{product.brand.name}" %>
      <% else %>
      <%= "(made by some brand)" %>
      <% end %>
     | <a href="/product/edit/<%= product.id %>">Edit</a> | <a href="/product/remove/<%= product.id %>">Remove</a></li>
    <% end %>
  </ul>
  <a href="/product/add">Add a product</a>
<hr>
<h2>Category list</h1>
  <ul>
    <% @brands.each do |brand| %>
    <li><a href="/brand/show/<%= brand.id %>"><%=brand.name %></a> | <a href="/brand/edit/<%= brand.id %>">Edit</a> | <a href="/brand/remove/<%= brand.id %>">Remove</li>
    <% end %>
  </ul>
  <a href="/brand/add">Add a brand</a>
